# terraform files
terraform/.terraform
**/.terraform/*
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
terraform/*.tfvars
terraform/*.tfvars.json
terraform/override.tf
terraform/override.tf.json
*_override.tf
*_override.tf.json
terraform/.terraformrc

# local files
.DS_Store